extends _layout/base

block content
    ng-view

block scripts
    script(src="js/lib/angular.min.js") 
    script(src="js/lib/angular-route.min.js") 
    script(src="js/app.js") 

    script(src="js/controllers/PizzaController.js") 
    script(src="js/controllers/DrinksController.js") 
    script(src="js/controllers/SaladsController.js") 
    script(src="js/controllers/MainController.js") 
        