div.col
    div.content-item
        p.name.text-center Гавайська
        img(src="../img/pizzas/gavai.webp", alt="havai")
        p.ingred.text-center Куряче філе, Маринований солодкий перець, Ананаси, Класичний соус
        p.weight.text-center 510г
        div.row.prise-block.m-0
            div.col.position-relative
                div.position-absolute.top-50.start-50.translate-middle.prise
                    span.number 211
                    span.hrn грн
            div.col.p-1
                button.add-to-list.btn Додати до замовлення