extends ../_layout/_block-10-cols
block content 
    div.order.row.m-0
        div.text.col
            p.number.text-center Замовлення № 
                b {{itemList._id}}
            div.content(ng-repeat = "it in itemList.goods") 
                p {{it.name}} {{it.weight}} {{it.measure}} <br/>
            div.wrap
                div.position-relative.price-wrap.m-0.p-0.h-100
                    div.position-absolute.top-50.start-50.translate-middle.price
                        span.number {{itemList.totalPrice}}
                        span.hrn грн
        div.status.col-4.my-auto
            img.w-75.mx-auto.d-block(src="img/way.svg", alt="avatar")
            p.status-text.text-center Замовник : {{itemList.user}}