extends ../_layout/_block-10-cols
block content 
    div.order.row.m-0
        div.text.col
            p.number.text-center Замовлення № 
                b 4353
            p.content Маргарита 1 <br/>Гавайська 2<br/> Фанта 1л 4
            div.wrap
                include ../_partials/_price
        div.status.col-4.my-auto
            img.w-75.mx-auto.d-block(src="img/way.svg", alt="avatar")
            p.status-text.text-center Прямує до замовника
