extends ../_layout/_main-layout
block vars
    - var controller = 'DrinksController'
block content
    include ../templates/line-name
    include ../templates/content-block    
    include ../templates/line-name
    include ../templates/content-block    
