extends ../_layout/_main-layout
block vars
    - var controller = 'SaladsController'
block content
    include ../templates/line-name
    include ../templates/content-block    
    include ../templates/content-block  
    include ../templates/content-block  
    include ../templates/content-block  
    include ../templates/content-block  
    include ../templates/content-block  
    include ../templates/content-block  