footer.footer.w-100.text-center.fixed-bottom
    p.position-absolute.top-50.start-50.translate-middle.text-nowrap Вартість доставки - 20 грн. Режим роботи: будні дні - з 11:00 до 22:00. ПТ, СБ, НД - з 11:00 до 23:00 