extends ../_layout/_block-10-cols
block content 
    div.controller(ng-controller="1234567")
        div.profile.row.m-0
            div.avatar.col-4
                img.w-75.mx-auto.d-block.rounded-circle(src="img/vyydi-otsyuda-razboynik-3.jpg", alt="avatar")
            div.text.col.position-relative
                div.position-absolute.top-50.translate-middle-y
                    p.name Володимир Зеленський
                    p.email zachtomneetovse@ukr.net
                    p.phone +38 (097) 000-00-00
